<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <%- include ./share/head.ejs %>
</head>

<body>
    <!-- header + slide -->
    <%- include ./share/header.ejs %>
        <%- include ./share/modal.ejs %>

        <div class="container show-submenu">
                <div class="row">
                    <div class="col-md-12">
                        <h1 style="margin-bottom: 50px; font-size: 40px;" class="col-md-12 center-item">
                            <img src="/images/heading-left-line.png" style="line-height: 30px;">&nbsp;&nbsp;
                            <span style="color:rgb(40, 96, 144);">Change Password
                            </span>
                            &nbsp;&nbsp;
                            <img src="/images/heading-right-line.png" style="line-height: 30px;">
                        </h1>
                    </div>
                </div>

            </div>
            <!-- profile -->
            <div class="container">
                    <form action="/savePassword" method="POST">
                <div class="row">
                   
                    <div class="col-md-offset-3 col-md-6 profile-form">
                        <input type="hidden" value="<%= users.id %>" name="id">
                        <input type="hidden" value="<%= users.name %>" name="name">
                        <input type="hidden" value="<%= users.phone %>" name="phone">
                            <div class="form-group">
                                    <label>Current Password</label>
                                <input type="password" class="form-control"  name="checkPassword" placeholder="Nhập mật khẩu của bạn" required/>
                            </div>
                            <div class="form-group">
                                    <label>New Password</label>
                                <input type="password" class="form-control" id="password2"  name="password" placeholder="Nhập mật khẩu bạn muốn thay đổi" required/>
                            </div>
                            <div class="form-group">
                                    <label>Confirm New Password</label>
                                    <input type="password" class="form-control" id="repassword2" name="renewpassword" placeholder="Xác nhận lại mật khẩu" required/>
                                </div>
                                <!-- <div class="form-group">
                                        <label></label>
                                    </div> -->
                            <div class="form-group center-item" >
                                
                                <button class="btn btn-primary" style="width: 900px" id="change-pass-btn" type="submit">Save</button>
                            </div>
                        
                    </div>
                </div>
            </form>
            </div>

            <!-- footer -->
            <%- include ./share/footer.ejs %>
</body>

</html>
<script>
    var password = document.getElementById("password2")
      , confirm_password = document.getElementById("repassword2");
  
    function validatePassword() {
      if (password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }
  
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
  </script>
