<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <%- include ./share/head.ejs %>
</head>

<body>
    <!-- header + slide -->
    <%- include ./share/header.ejs %>
        <%- include ./share/modal.ejs %>

            <div class="container show-submenu">
                <div class="row">
                    <div class="col-md-12">
                        <h1 style="margin-bottom: 50px; font-size: 40px;" class="col-md-12 center-item">
                            <img src="/images/heading-left-line.png" style="line-height: 30px;">&nbsp;&nbsp;
                            <span style="color:rgb(40, 96, 144);">Thay đổi mật khẩu
                            </span>
                            &nbsp;&nbsp;
                            <img src="/images/heading-right-line.png" style="line-height: 30px;">
                        </h1>
                    </div>
                </div>

            </div>
            <!-- profile -->
            <div class="container">
                <form id="change-pass-form">
                    <div class="row">

                        <div class="col-md-offset-3 col-md-6 profile-form">
                            <input type="hidden" value="<%= users.id %>" name="id">
                            <input type="hidden" value="<%= users.name %>" name="name">
                            <input type="hidden" value="<%= users.phone %>" name="phone">
                            <div class="form-group">
                                <label>Nhập mật khẩu của bạn</label>
                                <input type="password" class="form-control" name="checkPassword" placeholder="Mật khẩu hiện tại" required/>
                            </div>
                            <div class="form-group">
                                <label>Nhập mật khẩu bạn muốn thay đổi</label>
                                <input type="password" class="form-control" id="password2" name="password" placeholder="Mật khẩu mới" required/>
                            </div>
                            <div class="form-group">
                                <label>Xác nhận mật khẩu </label>
                                <input type="password" class="form-control" id="repassword2" name="renewpassword" placeholder="Xác nhận mật khẩu mới" required/>
                            </div>
                            <!-- <div class="form-group">
                                        <label></label>
                                    </div> -->
                            <div class="form-group center-item">

                                <button class="btn btn-primary" style="width: 900px" id="change-pass-btn" type="button">Lưu</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

            <!-- footer -->
            <%- include ./share/footer.ejs %>
</body>

</html>
<script>
    var password = document.getElementById("password2")
        , confirm_password = document.getElementById("repassword2"),
        formChangePassWord = document.getElementById("change-pass-form");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
            confirm_password.focus();
            formChangePassWord.preventDefault();
        } else {
            confirm_password.setCustomValidity('');
        }
        return password.value == confirm_password.value
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

// <!-- kiem tra mat khau cua tai khoan dung hay chua -->
    $(document).ready(function () {
        $('#change-pass-btn').on('click', function () {

            console.log("o tren")
            console.log(password.value.length)
            console.log(confirm_password.value.length)
            console.log(validatePassword())
            if(!password.value == confirm_password.value) return
            console.log("o duoi")
            var formChangePass = $('#change-pass-form')
            var data = getFormData(formChangePass)
            $.ajax({
                url: '/savePassword',
                type: 'POST',
                data: data,
                success: function (res) {
                    console.log(res);

                    if (res.status == 403) {
                        console.log(res)
                        alert(res.errorMessage)

                    } else {
                        alert(res.successMessage)
                        window.location.href = '/';
                    }
                }
            });


        })
    })

    function getFormData($form) {
        var unindexedArray = $form.serializeArray()
        var indexedArray = {}
        $.map(unindexedArray, function (n, i) {
            indexedArray[n['name']] = n['value']
        })
        return indexedArray
    }

</script>

<script>
    var password = document.getElementById("password2")
        , confirm_password = document.getElementById("repassword2");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>