<!DOCTYPE html>
<html>

<head>
    <title>
        
    </title>
    <%- include ./share/head.ejs %>
</head>
<body>
 
<%- include ./share/header.ejs %>
<%- include ./share/modal.ejs %>
<script src="/scripts/searchUser.js"></script>
    <!-- show danh sach phim -->
     

    <div class="margin-page container">
        <div class="row">
                <% for (var i = 0; i < cinemas.length;i ++) { %>
                    <div class="margin-film col-md-3 box">
                        <a class="show-phim" href="/chitietphim/<%= cinemas[i]._id %>">
                            <img class="show-phim" src="<%= cinemas[i].image %>" width="230"/>
                                    <div class="mask center-item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                        <p style="font-weight: bold"><%= cinemas[i].name %></p>
                                                </div>
                                                <br/>
                                                <div class="col-md-12">
                                                        <p style="font-weight: bold"><%= cinemas[i].userCreated %></p>
                                                </div>
                                            </div>
                                        </div>
                                            
                                            
                                        </div>
                          
                          </a>
                    </div>
                    <% } %>
        </div>

    </div>

   
    <%- include ./share/footer.ejs %>      
    </div>
</body>
</html>