<!DOCTYPE html>
<html>

<head>
    <title>
        
    </title>
    <%- include ./share/head.ejs %>
</head>
<body>
 
<%- include ./share/header.ejs %>
<%- include ./share/modal.ejs %>
    <!-- show danh sach phim -->

    <div class="margin-page">
        <% for (var i = 0; i < cinemas.length;i ++) { %>
          <div class="margin-film col-md-4">
              <a class="show-phim" href="/chitietphim/<%= cinemas[i]._id %>">
                  <img class="show-phim" src="<%= cinemas[i].image %>" />
                  <div class="description-phim">
                      <p><%= cinemas[i].name %>(<%= cinemas[i].timePublish %>)</p>
                  </div>
                </a>
          </div>
          <% } %>
    </div>
   
    <%- include ./share/footer.ejs %>      
    </div>
</body>
</html>