<!DOCTYPE html>
<html>

<head>
    <title>
       
    </title>
    <%- include ./share/head.ejs %>
</head>

<body>
    <%- include ./share/header.ejs %>
    <%- include ./share/modal.ejs %>


    <div class="container my-container-center my-title-header">
        <strong style="font-size: 40px;">Cập nhật phim</strong>
    </div>
    <div class="container my-create-film film-shadow">
        <form ref='uploadForm' id='uploadForm' encType="multipart/form-data" action="/filmProfile/save" method="POST">
            <div class="container col-sm-12 col-md-5 text-center ">
                <label class="btn" for="exampleFormControlFile1">
                    <img src="<%= cinema.image %>" width="300" height="300" class="img-upload" id="blah"/>
                    <input type="hidden" name=""/>
                </label>
                    <div class="form-group">
                        <label class="btn btn-primary text-center my-btn" for="exampleFormControlFile1">
                            <i class="fa fa-file-image-o fa-lg"></i>&nbsp;&nbsp; Chọn hình minh họa</label>
                        <input type="file" class="form-control-file hide" id="exampleFormControlFile1" name="image" onchange="readURL(this);" value="<%= cinema.image %>">
                    </div>
            </div>
            <div class="container col-sm-12 col-md-7 my-form-film">
                <div class="form-group">
                    <h4>Tên bộ phim</h4>
                    <input type="text" class="form-control my-input-film" name="name" value="<%= cinema.name %>"/>
                    <input type="hidden" value="<%= cinema.id %>" name="id">
                </div>
                <div class="form-group">
                    <h4>Thể loại phim:</h4>
                    <select class="my-input-film col-md-12 col-sm-12 col-lg-12 col-xs-12 my-select-film form-control" id="film-category" name="category">
                        <option selected="selected" value='<%= cinema.category %>'><%= cinema.category %></option>
                        <option value="Tiểu sử lịch sử">Tiểu sử lịch sử</option>
                        <option value="Lãng mạn tình cảm">Lãng mạn tình cảm</option>
                        <option value="Khoa học viễn tưởng">Khoa học viễn tưởng</option>
                        <option value="Huyền bí huyền ảo">Huyền bí huyền ảo</option>
                        <option value="Phiêu lưu mạo hiểm">Phiêu lưu mạo hiểm</option>
                        <option value="Pháp luật hình sự">Pháp luật hình sự</option>
                        <option value="Chiến tranh cổ trang">Chiến tranh cổ trang</option>
                        <option value="Chiến trang hiện đại">Chiến trang hiện đại</option>
                        <option value="Chiến tranh trung đại">Chiến tranh trung đại</option>
                    </select>
                    
                </div>
                <div class="form-group">
                    <h4>Thời gian phát hành:</h4>
                    <select class="my-input-film my-select-film col-lg-5 col-md-5 col-sm-5 col-xs-5" id="film-month" name="month">
                        <option selected="selected" value="1">Tháng 1</option>
                        <option value="2">Tháng 2</option>
                        <option value="3">Tháng 3</option>
                        <option value="4">Tháng 4</option>
                        <option value="5">Tháng 5</option>
                        <option value="6">Tháng 6</option>
                        <option value="7">Tháng 7</option>
                        <option value="8">Tháng 8</option>
                        <option value="9">Tháng 9</option>
                        <option value="10">Tháng 10</option>
                        <option value="11">Tháng 11</option>
                        <option value="12">Tháng 12</option>
                    </select>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    <select class="my-input-film col-md-5 col-sm-5 col-lg-5 col-xs-5 my-select-film" id="film-year" name="year">

                        <option selected="selected" value="2018">2018</option>
                    </select>
                </div>

                <div class="form-group">
                    <h4>Nội dung mô tả</h4>
                    <textarea name="description" class="form-control" rows="5" placeholder="Tên diễn viên, nội dung phim..">
                        <%= cinema.description %>
                </textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary my-btn text-center" style="margin-right: 15px">
                        Cập nhật phim
                    </button>
                </div>
            </div>

        </form>
    </div>
    <%- include ./share/footer.ejs %>  
</body>
</html>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(300)
                    .height(300);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>